# Python
__pycache__/
*.pyc
*.pyo

# Virtual envs
venv/
.env/

# Builds
build/
dist/

# Logs
*.log

# OS
Thumbs.db
.DS_Store

# Temporales / OCR outputs
procesos_tmp/

# Media pesada
*.jpeg
*.jpg
*.png
*.zip
*.rar

# Excel históricos
*.xlsx

# Windows
*.lnk
Thumbs.db

# Python
__pycache__/
*.pyc

